<plugin>
	<nom>Migration</nom>
	<auteur>[Cedric->http://nursit.net]</auteur>
	<icon>prive/themes/spip/images/migration-32.png</icon>
	<version>0.9.6</version>
	<etat>stable</etat>
	<description>Assistant de migration d'un site SPIP</description>
	<prefix>migration</prefix>
	<categorie>outil</categorie>

	<pipeline>
		<nom>formulaire_charger</nom>
		<inclure>cvtm_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_verifier</nom>
		<inclure>cvtm_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>styliser</nom>
		<inclure>cvtm_pipelines.php</inclure>
	</pipeline>

	<bouton id='migration2' parent='configuration'>
		<icone>prive/themes/spip/images/migration-24.png</icone>
		<titre>migration:titre_assistant_migration</titre>
		<url>configurer_migration</url>
	</bouton>
	<bouton id='migration' parent='bando_administration'>
		<icone>images/migration-16.png</icone>
		<titre>migration:titre_assistant_migration</titre>
		<url>configurer_migration</url>
	</bouton>
	<utilise id="dump" version="[;]" />
</plugin>
http://anextraleveladaykeepsthegirlaway.net/IMG/mp3/0/c/2/01_Mirror_s_Image_-_copie.mp3